<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Bubbler+One|Crushed|Nixie+One|Open+Sans+Condensed:300,300i,700|PT+Sans+Narrow:400,700|Raleway:300,400,700|Syncopate:400,700" rel="stylesheet">
        <link rel="stylesheet" href="/css/styles.css">
        <title>Moe's Kombucha</title>
    </head>
    <body>
        <div class="container-fluid">
            <header>
                <img src="/img/banner_large.jpg" class="img-responsive" alt="Moe's Kombucha Logo">
                <!-- banner & logo -->
                <nav class="nav container-fluid">
                    <ul class="list-inline navbar">
                        <li class="nav-item"><a href="/about">About</a></li>
                        <li class="nav-item"><a href="/">Store</a></li>
                        <li class="nav-item"><a href="#">Locations</a></li>
                        <li class="nav-item"><a href="/contact">Contact</a></li>
                        <li class="nav-item"><a href="/login">Customers</a></li>
                    </ul>
                </nav>
            </header>

            <div class="outside-container">
                <div class="row">
                    <div class="container-main">
                        <div class="main col-md-9">
                            <h1>About Moes Kombucha</h1>
                            <p>At Moe' Kombucha we use only the finest, organic, cane sugar. We source our green tea directly from China, home of the Earth's best tea leaves. Only the best tea, lovingly brewed with finely filtered water goes into our kombucha.</p>
                            <p>As Moe developed his spectacular Kombucha, he tried countless recipes and process variations using just the natural tea flavor. We estimate over 300 different batches were brewed before arriving at today’s top secret recipe. At Moe’s, we mix the finest ingredients in precise quantities at exactly the right time.  our small batch brewing ensures accurate control of temperatures and precise mastery of the fermenting environment. The result is a refreshingly light sparkling tea beverage with no additives.</p>
                            <p>You might ask why moe's kombucha has no added flavors.  Unlike other Kombucha brands, Moe’s doesn’t need to use extra sugar or flavors.  At Moe’s, the flavor is brewed in, not added.</p>
                            <p>Our Kombucha is...</p>
                            <ul>
                                <li>only Available fresh from the tap for best quality & taste</li>
                                <li>Kept cold & sealed under pressure until it hits your glass</li>
                                <li>Loaded with active probiotics and antioxidants</li>
                                <li>Often used for digestive health and immune system function</li>
                                <li>Low sugar, only 40 calories per 8 ounces</li>
                                <li>non-alcoholic, contains only trace amounts of alcohol</li>
                                <li>Gluten Free, unpasteurized</li>
                                <li>Made with no preservatives, nothing artificial added</li>
                            </ul>
                            <p>Try our “Vitality on Tap”, we think you’ll love it as much as we do.</p>
                        </div>

                        <div class="sidebar col-md-3">
                            <div class="panel panel-success">
                                {% if cart.getProducts is not empty %}
                                    <div class="panel-heading">
                                        <h1>Your Cart</h1>
                                        <h3>Order Number: {{ cart.getID }}</h3>
                                    </div>
                                    <div class="panel-body">
                                        {% for product in cart_products %}
                                            <h4><span class="product-name">{{ product.getName }}</span><span class="product-price">{{ product.getPrice }}</span></h4>
                                        {% endfor %}
                                    </div>
                                    <div class="panel-footer">
                                        <h2>Your Total: ${{ cart.getOrderCost }}</h2>
                                        <h3>
                                            <form class="checkout" action="/review_order/{{ cart.getID }}" method="post">
                                                <button class="checkout" type="submit">Checkout</button>
                                            </form>
                                        </h3>
                                    </div>
                                {% else %}
                                    <h4>No products in cart. Start Shopping!</h4>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer>
                <div class="row">
                    <div class="footer-container">
                        <div class="col-md-3">
                            <h4>This is an H4</h4>
                            <p>Duis Max irure dolor in reprehenderit in voluptate velit esse cillum Max eu fugiat nulla pariatur. Excepteur Max occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                        <div class="col-md-3">
                            <h4>This is an H4</h4>
                            <p>Duis Max irure dolor in reprehenderit in voluptate velit esse cillum Max eu fugiat nulla pariatur. Excepteur Max occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id Max laborum.</p>
                        </div>
                        <div class="col-md-3">
                            <h4>This is an H4</h4>
                            <p>Duis Max irure dolor in reprehenderit in voluptate velit esse cillum Max eu fugiat nulla pariatur. Excepteur Max occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id Max laborum.</p>
                        </div>
                        <div class="col-md-3">
                            <h4>This is an H4</h4>
                            <p>Duis Max irure dolor in reprehenderit in voluptate velit esse cillum Max eu fugiat nulla pariatur. Excepteur Max occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id Max laborum.</p>
                        </div>
                    </div>
                </div>
            </footer>

            <!-- Modal -->
            <div id="customer_modal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Create An Account or Login</h4>
                    </div>
                    <div class="modal-body">
                        <form name="login" class="create-account" action="/register" method="post">
                            <button type="submit" name="create-account">Create Account</button>
                        </form>
                        <form name="login" class="login" action="/login" method="post">
                            <button type="submit" name="login">Create Account</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
