<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Bubbler+One|Crushed|Nixie+One|Open+Sans+Condensed:300,300i,700|PT+Sans+Narrow:400,700|Raleway:300,400,700|Syncopate:400,700" rel="stylesheet">
        <link rel="stylesheet" href="/css/styles.css">
        <title>Moe's Kombucha</title>
    </head>
    <body>
        <div class="container-fluid">
            <header>
                <img src="/img/banner_large.jpg" class="img-responsive" alt="Moe's Kombucha Logo">
                <!-- banner & logo -->
                <nav class="nav container-fluid">
                    <ul class="list-inline navbar">
                        <li class="nav-item"><a href="/about">About</a></li>
                        <li class="nav-item"><a href="/">Store</a></li>
                        <li class="nav-item"><a href="#">Locations</a></li>
                        <li class="nav-item"><a href="/contact">Contact</a></li>
                        <li class="nav-item"><a href="/login">Customers</a></li>
                    </ul>
                </nav>
            </header>

            <div class="outside-container">
                <div class="row">
                    <div class="container-main">
                        <div class="main col-md-9">
                            <!-- main content will go here -->
                            <!-- login & register forms will go here on their respective pages -->
                        <h1>Contact us!</h1>
                        <h3><em>By Appointment Only:</em></h3>
                        <p>3874 Fiscal Court Suite 400 B</p>
                        <p>Riveria Beach, Fl 33404</p>
                        <p>(855) 663-7832</p>
                        <p>INFO@MOESKOMBUCHA.COM</p>


                        </div>

                        <div class="sidebar col-md-3">
                            <div class="panel panel-success">
                                {% if cart.getProducts is not empty %}
                                    <div class="panel-heading">
                                        <h1>Your Cart</h1>
                                        <h3>Order Number: {{ cart.getID }}</h3>
                                    </div>
                                    <div class="panel-body">
                                        {% for product in cart_products %}
                                            <h4><span class="product-name">{{ product.getName }}</span><span class="product-price">{{ product.getPrice }}</span></h4>
                                        {% endfor %}
                                    </div>
                                    <div class="panel-footer">
                                        <h2>Your Total: ${{ cart.getOrderCost }}</h2>
                                        <h3>
                                            <form class="checkout" action="/review_order/{{ cart.getID }}" method="post">
                                                <button class="checkout" type="submit">Checkout</button>
                                            </form>
                                        </h3>
                                    </div>
                                {% else %}
                                    <h4>No products in cart. Start Shopping!</h4>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer>
                <div class="row">
                    <div class="footer-container">
                        <div class="col-md-3">
                            <h4>This is an H4</h4>
                            <p>Duis Max irure dolor in reprehenderit in voluptate velit esse cillum Max eu fugiat nulla pariatur. Excepteur Max occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                        <div class="col-md-3">
                            <h4>This is an H4</h4>
                            <p>Duis Max irure dolor in reprehenderit in voluptate velit esse cillum Max eu fugiat nulla pariatur. Excepteur Max occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id Max laborum.</p>
                        </div>
                        <div class="col-md-3">
                            <h4>This is an H4</h4>
                            <p>Duis Max irure dolor in reprehenderit in voluptate velit esse cillum Max eu fugiat nulla pariatur. Excepteur Max occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id Max laborum.</p>
                        </div>
                        <div class="col-md-3">
                            <h4>This is an H4</h4>
                            <p>Duis Max irure dolor in reprehenderit in voluptate velit esse cillum Max eu fugiat nulla pariatur. Excepteur Max occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id Max laborum.</p>
                        </div>
                    </div>
                </div>
            </footer>

            <!-- Modal -->
            <div id="customer_modal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Create An Account or Login</h4>
                    </div>
                    <div class="modal-body">
                        <form name="login" class="create-account" action="/register" method="post">
                            <button type="submit" name="create-account">Create Account</button>
                        </form>
                        <form name="login" class="login" action="/login" method="post">
                            <button type="submit" name="login">Create Account</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
