<!DOCTYPE html>
<html>
  <head>
    <title>Moe's Kombucha</title>
  </head>
  <body>
    <h1>Your current user information:</h1>
    {{ warning }}
    {% if current_user is empty %}
    <h2>Log-in here if you have an account!</h2>
    <form action="/login" method="post">
        <label for="existing_login">Enter your login</label>
        <input type="text" name="existing_login">
        <label for="existing_password">Enter your password</label>
        <input type="password" name="existing_password">
        <button type="submit">Login</button>
    </form>
    <h2>Create a new account here!</h2>
    <form action="/customers" method="post">
        <label for="customer_contact">Customer Contact</label>
        <input type="text" name="customer_contact">
        <label for="business_name">Business Name</label>
        <input type="text" name="business_name" required>
        <label for="address">Business/Delivery Address</label>
        <input type="text" name="address" required>
        <label for="phone">Phone Number</label>
        <input type="text" name="phone" required>
        <label for="email">Email Address</label>
        <input type="text" name="email">
        <label for="login">Preferred Login</label>
        <input type="text" name="login">
        <label for="password">Preferred Password</label>
        <input type="password" name="password">
        <button type="submit">Submit New Customer!</button>
    </form>
    {% else %}
    <h1>Logged in as {{ current_user.getLogin }}</h1>
    <h2>Edit your currently selected customer information:</h2>
    <h3>Current business name: {{ current_user.getBusiness }}<form action="/user_edit/{{ current_user.getId }}" method="post">
    <input type="text" name="business_update">
    <input type="hidden" name="_method" value="patch">
    </form></h3>
    <h3>Current contact name: {{ current_user.getContact }}<form action="/user_edit/{{ current_user.getId }}" method="post">
    <input type="text" name="contact_update">
    <input type="hidden" name="_method" value="patch">
    </form></h3>
    <h3>Current listed address: {{ current_user.getAddress }}<form action="/user_edit/{{ current_user.getId }}" method="post">
    <input type="text" name="address_update">
    <input type="hidden" name="_method" value="patch">
    </form></h3>
    <h3>Contact phone number: {{ current_user.getPhone }}<form action="/user_edit/{{ current_user.getId }}" method="post">
    <input type="text" name="phone_update">
    <input type="hidden" name="_method" value="patch">
    </form></h3>
    <h3>Contact email address: {{ current_user.getEmail }}<form action="/user_edit/{{ current_user.getId }}" method="post">
    <input type="text" name="email_update">
    <input type="hidden" name="_method" value="patch">
    </form></h3>
    {% endif %}
    <h1>To the store!</h1>
    <form action="/store" method="post">
        <input type="hidden" name="current_id" value="{{ current_user.getID }}">
        <button type="submit">Go to store</button>
    </form>
  </body>
</html>
