<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Bubbler+One|Crushed|Nixie+One|Open+Sans+Condensed:300,300i,700|PT+Sans+Narrow:400,700|Raleway:300,400,700|Syncopate:400,700" rel="stylesheet">
        <link rel="stylesheet" href="/css/styles.css" >
        <title>Moe's Kombucha</title>
    </head>
    <body>
        <div class="container-fluid">
            <header>
                <img src="/img/banner_large.jpg" class="img-responsive" alt="Moe's Kombucha Logo">
                <!-- banner & logo -->
                <nav class="nav container-fluid">
                    <ul class="list-inline navbar">
                        <li class="nav-item"><a href="/">Store</a></li>
                        <li class="nav-item"><a href="/about">About</a></li>
                        <li class="nav-item"><a href="/locations">Locations</a></li>
                        <li class="nav-item"><a href="/contact">Contact</a></li>
                        <li class="nav-item"><a href="/login">Customers</a></li>
                    </ul>
                </nav>
            </header>

        <div class="outside-container">
            <div class="row">
                <div class="container-main">
                    <div class="main col-md-9">
                        <!-- main content will go here -->
                        <!-- login & register forms will go here on their respective pages -->
                        {{ warning }}
                        {% if current_user is empty %}
                        <table id="create-account">
                            <thead>
                                <td>
                                    <h1>Your Profile</h1>
                                    <h2>Please create an account!</h2>
                                </td>
                                <td></td>
                            </thead>
                            <tbody>
                                <form action="/customers" method="post">
                                    <tr>
                                        <div class="input-group">
                                            <td class="label-field">
                                                <label for="customer_contact">Customer Contact</label>
                                            </td>
                                            <td class="input-field">
                                                <input class="form-control" type="text" name="customer_contact">
                                            </td>
                                        </div>
                                    </tr>
                                    <tr>
                                        <div class="input-group">
                                            <td class="label-field">
                                                <label for="business_name">Business Name</label>
                                            </td>
                                            <td class="input-field">
                                                <input class="form-control" type="text" name="business_name" required>
                                            </td>
                                        </div>
                                    </tr>
                                    <tr>
                                        <div class="input-group">
                                            <td class="label-field">
                                                <label for="address">Business/Delivery Address</label>
                                            </td>
                                            <td class="input-field">
                                                <input class="form-control" type="text" name="address" required>
                                            </td>
                                        </div>
                                    </tr>
                                    <tr>
                                        <div class="input-group">
                                            <td class="label-field">
                                                <label for="phone">Phone Number</label>
                                            </td>
                                            <td class="input-field">
                                                <input class="form-control" type="text" name="phone" required>
                                            </td>
                                        </div>
                                    </tr>
                                    <tr>
                                        <div class="input-group">
                                            <td class="label-field">
                                                <label for="email">Email Address</label>
                                            </td>
                                            <td class="input-field">
                                                <input class="form-control" type="text" name="email">
                                            </td>
                                        </div>
                                    </tr>
                                    <tr>
                                        <div class="input-group">
                                            <td class="label-field">
                                                <label for="login">Preferred Login</label>
                                            </td>
                                            <td class="input-field">
                                                <input class="form-control" type="text" name="login">
                                            </td>
                                        </div>
                                    </tr>
                                    <tr>
                                        <div class="input-group">
                                            <td class="label-field">
                                                <label for="password">Preferred Password</label>
                                            </td>
                                            <td class="input-field">
                                                <input class="form-control" type="text" name="password">
                                            </td>
                                        </div>
                                    </tr>
                                    <tr>
                                        <td class="label-field">
                                            <button type="submit">Submit New Customer!</button>
                                        </td>
                                        <td class="input-field"></td>
                                    </tr>
                                </form>
                            </tbody>
                        </table>


                        {% else %}


                        <table>
                            <tr>
                                <h3>Current business name: {{ current_user.getBusiness }}
                                    <!-- <form action="/user_edit/{*{ current_user.getId }}" method="post">
                                        <div class="input-group">
                                            <td><input type="text" name="business_update"></td>
                                            <td><input type="hidden" name="_method" value="patch"></td>
                                        </div>
                                    </form> -->
                                </h3>
                            </tr>
                            <tr>
                                <h3>Current contact name: {{ current_user.getContact }}
                                    <!-- <form action="/user_edit/{*{ current_user.getId }}" method="post">
                                        <div class="input-group">
                                            <td><input type="text" name="contact_update"></td>
                                            <td><input type="hidden" name="_method" value="patch"></td>
                                        </div>
                                    </form> -->
                                </h3>
                            </tr>
                            <tr>
                                <h3>Current listed address: {{ current_user.getAddress }}
                                    <!-- <form action="/user_edit/{*{ current_user.getId }}" method="post">
                                        <div class="input-group">
                                            <td><input type="text" name="address_update"></td>
                                            <td><input type="hidden" name="_method" value="patch"></td>
                                        </div>
                                    </form> -->
                                </h3>
                            </tr>
                            <tr>
                                <h3>Contact phone number: {{ current_user.getPhone }}
                                    <!-- <form action="/user_edit/{*{ current_user.getId }}" method="post">
                                        <div class="input-group">
                                            <td><input type="text" name="phone_update"></td>
                                            <td><input type="hidden" name="_method" value="patch"></td>
                                        </div> -->
                                    </form>
                                </h3>
                            </tr>
                            <tr>
                                <h3>Contact email address: {{ current_user.getEmail }}
                                    <!-- <form action="/user_edit/{*{ current_user.getId }}" method="post">
                                        <div class="input-group">
                                            <td><input type="text" name="email_update"></td>
                                            <td><input type="hidden" name="_method" value="patch"></td>
                                        </div>
                                    </form> -->
                                </h3>
                            </tr>
                        </table>

                        {% endif %}
                    </div>  <!-- end of main -->

                    <div class="sidebar col-md-3">
                        <div class="panel panel-success">
                            {% if cart.getProducts is not empty %}
                                <div class="panel-heading">
                                    <h1>Your Cart</h1>
                                    <h3>Order Number: {{ cart.getID }}</h3>
                                </div>
                                <div class="panel-body">
                                    {% for product in cart_products %}
                                        <h4><span class="product-name">{{ product.getName }}</span><span class="product-price">{{ product.getPrice }}</span></h4>
                                    {% endfor %}
                                </div>
                                <div class="panel-footer">
                                    <h2>Your Total: ${{ cart.getOrderCost }}</h2>
                                    <h3>
                                        <form class="checkout" action="/review_order/{{ cart.getID }}" method="post">
                                            <button class="checkout" type="submit">Checkout</button>
                                        </form>
                                    </h3>
                                </div>
                            {% else %}
                                <h2 class="sidebar">No products in cart. </br>Start Shopping!</h2>
                            {% endif %}
                        </div>
                    </div>

                </div>  <!--end of container-main-->
            </div>  <!--end of row-->
        </div>  <!--end of outside-container-->

            <footer>
                <div class="row">
                    <div class="footer-container">
                        <div class="col-md-3">
                            <h4>This is an H4</h4>
                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                        <div class="col-md-3">
                            <h4>This is an H4</h4>
                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                        <div class="col-md-3">
                            <h4>This is an H4</h4>
                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                        <div class="col-md-3">
                            <h4>This is an H4</h4>
                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </body>
</html>
