<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Bubbler+One|Crushed|Nixie+One|Open+Sans+Condensed:300,300i,700|PT+Sans+Narrow:400,700|Raleway:300,400,700|Syncopate:400,700" rel="stylesheet">
        <link rel="stylesheet" href="/css/styles.css">
        <title>Moe's Kombucha</title>
    </head>
    <body>
        <div class="container-fluid">
            <header>
                <img src="/img/banner_large.jpg" class="img-responsive" alt="Moe's Kombucha Logo">
                <!-- banner & logo -->
                <nav class="nav container-fluid">
                    <ul class="list-inline navbar">
                        <li class="nav-item"><a href="/">Store</a></li>
                        <li class="nav-item"><a href="/about">About</a></li>
                        <li class="nav-item"><a href="/locations">Locations</a></li>
                        <li class="nav-item"><a href="/contact">Contact</a></li>
                        <li class="nav-item"><a href="/login">Customers</a></li>
                    </ul>
                </nav>
            </header>

            <div class="outside-container">
                <div class="row">
                    <div class="container-main">
                        <div class="main col-md-9">

                            <h1>boca raton, fl</h1>
                            <div class="row">
                                <div class="col-xs-6">    
                                    <h2><a class="locationLinks" href="http://www.apurajuicery.com/" class="locationLinks">apura juicery</a></h2>
                                    <h3>22191 s. powerline rd, #20B</h3>
                                    <h3>boca raton, fl 33433</h3>
                                </div>
                                <div class="col-xs-6">
                                    <h2><a class="locationLinks" href="https://www.facebook.com/BocaFarmersMarketGrill">Boca Farmers' Market</a></h2>
                                    <h3>1949 NW 2nd Ave.</h3>
                                    <h3>Boca Raton, FL 33432</h3>
                                </div>
                            </div>

                            <h2><a class="locationLinks" href="https://www.barkanmethod.com/">Barkan Yoga</a></h2>
                            <h3>2240 N.W. 19th St. #604</h3>
                            <h3>Boca Raton, FL  33431</h3>

                            <h2><a class="locationLinks" href="http://www.plntjuice.com/">Planet Juice</a></h2>
                            <h3>1951 N Federal Hwy</h3>
                            <h3>Boca Raton, FL 33432</h3>

                            <h2><a class="locationLinks" href="http://www.pronutritionboca.com/">Pro nutrition</a></h2>
                            <h3>7491 N. federal hwy, c4</h3>
                            <h3>boca raton, fl  33487</h3>

                            <h2><a class="locationLinks" href="https://www.r1coffee.com/">R1 Coffee</a></h2>
                            <h3>200 N. Federal HWY, Ste. 106</h3>
                            <h3>Boca Raton, FL  33431</h3>

                            <h2><a class="locationLinks" href="http://www.thesaladspotboca.com/">Salad Spot</a></h2>
                            <h3>690 Yamato RD., #6</h3>
                            <h3>Boca Raton, FL  33431</h3>


                            <h1>Boynton Beach, FL 33426</h1>

                            <h2><a class="locationLinks" href="http://www.joeyshomebakeryglutenfree.com/">Boynton Beach, FL</a></h2>
                            <h3>1532 SW 8th St</h3>
                            <h3>Boynton Beach, FL 33426</h3>

                            <h2><a class="locationLinks" href="http://juiceberryfan.com/">JuiceBerry</a></h2>
                            <h3>1899 Congress Ave #3</h3>
                            <h3>Boynton Beach, FL 33426</h3>

                            <h2><a class="locationLinks" href="https://www.facebook.com/bosstacosboyntonbeach/">Boss Tacos</a></h2>
                            <h3>206 S. Federal Hwy</h3>
                            <h3>Boynton Beach, FL 33435</h3>

                            <h1>Coral Springs, FL</h1>

                            <h2><a class="locationLinks" href="http://tunies.com/">Tunies</a></h2>
                            <h3>5651 Coral Ridge Dr.</h3>
                            <h3>Coral Springs, FL  33076</h3>


                            <h1>Deerfield Beach, FL</h1>

                            <h2><a class="locationLinks" href="http://juiceberryfan.com/">JuiceBerry</a></h2>
                            <h3>61 S Federal Hwy</h3>
                            <h3>Deerfield Beach, FL 33441</h3>

                            <h1>delray beach, FL</h1>

                            <h2><a class="locationLinks" href="http://www.bikramyogadelraybeach.com/">Bikram Yoga</a></h2>
                            <h3>055 S. Federal Hwy</h3>
                            <h3>Delray Beach, FL 33483</h3>

                            <h2><a class="locationLinks" href="http://www.buddhaloungeyoga.com/">Buddha Yoga Lounge​</a></h2>
                            <h3>1405 N. Federal HWY</h3>
                            <h3>Delray Beach, FL 33483</h3>

                            <h2><a class="locationLinks" href="http://www.kavasutra.com/">kavasutra*</a></h2>
                            <h3>2186 W. atlantic ave.</h3>
                            <h3>delray beach, fl 33445</h3>

                            <h2><a class="locationLinks" href="http://www.thenewvegan.com/">The New Vegan</a></h2>
                            <h3>528 N.E. 2nd St.</h3>
                            <h3>Delray Beach, FL  33483</h3>

                            <h2><a class="locationLinks" href="http://www.plntjuice.com/">Planet Juice</a></h2>
                            <h3>1724 S Federal Hwy</h3>
                            <h3>Delray Beach, FL 33483</h3>


                            <h1>ft. lauderdale, FL</h1>
                            <h2><a class="locationLinks" href="https://www.barkanmethod.com/">The Barkan Method of Yoga</a></h2>
                            <h3></h3>
                            <h3>Kula Yoga Studio</h3>
                            2370 N. Federal Hwy
                            Ft. Lauderdale, FL  33305

                            <h2><a class="locationLinks" href="http://www.kavasutra.com/">kavasutra*</a></h2>
                            <h3>1318 E. las olas blvd</h3>
                            <h3>ft. lauderdale, fl 33301</h3>

                            <h2><a class="locationLinks" href="http://tunies.com/">Tunies</a></h2>
                            <h3>900 N. Federal Hwy</h3>
                            <h3>Ft. Lauderdale, FL  33304</h3>

                            <h1>Greenacres, FL</h1>
                            <h2><a class="locationLinks" href="http://naturalblendssmoothies.com/">Natural Blends</a></h2>
                            <h3>919 Jog Rd.</h3>
                            <h3>Greenacres, FL  33476</h3>

                            <h1>jensen beach, FL</h1>
                            <h2><a class="locationLinks" href="https://www.facebook.com/Jaimes-Smoothie-Juice-bar-258417360893969/">jaime's juice bar</a></h2>
                            <h3>1864 n.e. jensen beach blvd</h3>
                            <h3>jensen beach, fl 34957</h3>

                            <h1>Jupiter, FL</h1>
                            <h2><a class="locationLinks" href="http://berryfresh.cafe/menu/">Berry Fresh</a></h2>
                            <h3>755 Military Trail</h3>
                            <h3>Jupiter, FL  33458</h3>

                            <h2><a class="locationLinks" href="http://jupiterfitness.com/">Jupiter Fitness</a></h2>
                            <h3>1200 W. IndianTown Rd.</h3>
                            <h3>Jupiter, FL  33458</h3>

                            <h1>lake park, fl</h1>
                            <h2><a class="locationLinks" href="http://www.mylillystable.com/">lilly's table</a></h2>
                            <h3>748-a park ave</h3>
                            <h3>lake park, fl 33403</h3>

                            <h2><a class="locationLinks" href="http://natureswaycafe.com/">nature's way café</a></h2>
                            <h3>804 us hwy one, #10</h3>
                            <h3>lake park, fl 33404</h3>

                            <h1>lake worth, fl</h1>
                            <h2><a class="locationLinks" href="http://natureswaycafe.com/">nature's way café</a></h2>
                            <h3>517 lake ave</h3>
                            <h3>lake worth, fl 33460</h3>

                            <h2><a class="locationLinks" href="http://www.kavasutra.com/">kavasutra*</a></h2>
                            <h3>508 lake ave</h3>
                            <h3>lake worth, fl 33460</h3>

                            <h2><a class="locationLinks" href="http://commongroundscoffeebar.com/">common grounds coffee bar</a></h2>
                            <h3>12 S. J St.</h3>
                            <h3>lake worth, fl 33460</h3>


                            <h1>Lantana, FL</h1>
                            <h2><a class="locationLinks" href="https://www.facebook.com/goodvibeslantana/">Good Vibes Lantana</a></h2>
                            <h3>219 E. Ocean Ave.</h3>
                            <h3>Lantana, FL  33462</h3>


                            <h1>melbourne, fl</h1>
                            <h2><a class="locationLinks" href="https://www.facebook.com/DripperzAve/">dripperz</a></h2>
                            <h3>002 w. new haven ave.</h3>
                            <h3>west melbourne, fl  32904</h3>

                            <h2><a class="locationLinks" href="http://www.island-root.com/">island root kava bar</a></h2>
                            <h3>1900 municipal ln.</h3>
                            <h3>melbourne, fl 32951</h3>

                            <h2><a class="locationLinks" href="http://ocean302.com/">ocean 302 bar & grille</a></h2>
                            <h3>02 ocean ave.</h3>
                            <h3>melbourne beach, fl 32951</h3>


                            <h1>n. palm beach & palm beach garden</h1>
                            <h2><a class="locationLinks" href="https://blendbistro.com/">the blend bistro</a></h2>
                            <h3>11701 lake victoria gardens ave, #3103</h3>
                            <h3>palm beach gardens, FL 33410</h3>

                            <h2><a class="locationLinks" href="https://nutritionsmart.com/">NutritionSmart</a></h2>
                            <h3>4155 Northlake Blvd.</h3>
                            <h3>Palm Beach Gardens, FL  33410</h3>

                            <h2><a class="locationLinks" href="https://www.fitbodybootcamp.com/northpalmbeachfitnessbootcamp/">Fit Body Bootcamp</a></h2>
                            <h3>420 US-1 #24</h3>
                            <h3>N. Palm Beach, FL  33408</h3>

                            <h2><a class="locationLinks" href="https://www.rocksteadyjuicejoint.com/">rock steady juice joint & acai bar</a></h2>
                            <h3>420 US-1, #2</h3>
                            <h3>n. palm beach, FL 33410</h3>

                            <h2><a class="locationLinks" href="http://www.kavasutra.com/">kavasutra*</a></h2>
                            <h3>450 northlake blvd. #5</h3>
                            <h3>n. palm beach, fl 33408</h3>

                            <h2><a class="locationLinks" href="http://tunies.com/">Tunies</a></h2>
                            <h3>7170 Fairway Dr.</h3>
                            <h3>Palm Beach Gardens, FL 33418</h3>


                            <h1>singer island, fl</h1>
                            <h2><a class="locationLinks" href="http://www.paradisechicboutique.com/">paradise chic boutique & coffee bar</a></h2>
                            <h3>1281 plaza cir. b</h3>
                            <h3>singer island, fl 33404</h3>

                            <h1>stuart, fl</h1>
                            <h2><a class="locationLinks" href="http://berryfresh.cafe/">berry fresh</a></h2>
                            <h3>1429 s.e. federal hwy</h3>
                            <h3>stuart, fl 34994</h3>

                            <h2><a class="locationLinks" href="http://osceolastreet.com/">osceola cafe</a></h2>
                            <h3>26 osceola street</h3>
                            <h3>stuart, fl 34994</h3>


                            <h1>tequesta, fl</h1>
                            <h2><a class="locationLinks" href="http://www.perkcoffeetequesta.com/">perk coffee house</a></h2>
                            <h3>84 tequesta dr.</h3>
                            <h3>tequesta, fl 33469</h3>

                            <h1>wellington, fl</h1>
                            <h2><a class="locationLinks" href="http://www.freedeliverypharmacy.com/">My Community Pharmacy</a></h2>
                            <h3>2615 N. State RD. 7, Ste. B530</h3>
                            <h3>Wellington, FL  33414</h3>

                            <h2><a class="locationLinks" href="http://www.taylormadecafe.com/">taylor made cafe</a></h2>
                            <h3>12160 S. Shore blvd., #105</h3>
                            <h3>wellington, fl 33414</h3>

                            <h2><a class="locationLinks" href="http://ultimafitness.com/">Ultima Fitness</a></h2>
                            <h3>12799 W. Forest Hills Blvd.</h3>
                            <h3>Wellington, FL  33414</h3>

                            <h1>w. palm beach, fl</h1>
                            <h2><a class="locationLinks" href="https://www.fitbodybootcamp.com/palmbeachfitnessbootcamp/">fit body bootcamp</a></h2>
                            <h3>6076 okeechobee blvd, #32</h3>
                            <h3>w. palm beach, fl 33417</h3>

                            <h2><a class="locationLinks" href="http://www.gotsprouts.com/">got sprouts</a></h2>
                            <h3>8420 resource rd</h3>
                            <h3>w. palm beach, fl 33403</h3>

                            <h2><a class="locationLinks" href="http://www.omyogawellness.com/">Om Yoga Stuio</a></h2>
                            <h3>410 Northwood Rd.</h3>
                            <h3>W. Palm Beach, FL  33407</h3>

                            <h2><a class="locationLinks" href="http://www.thesaladspotflorida.com/">Salad Spot</a></h2>
                            <h3>777 S. Flagler DR., ste #108</h3>
                            <h3>W. Palm Beach, FL 33401</h3>

                            <h2><a class="locationLinks" href="http://vsnut.tflmag.com/">South End</a></h2>
                            <h3>Health Food Store</h3>
                            <h3>5603 S. Dixie Hwy</h3>
                            <h3>W. Palm Beach, FL 33405</h3>

                            <h2><a class="locationLinks" href="https://www.ulsprouts.com/">Universal Living Sprouts</a></h2>
                            <h3>6238 Royal Palm Beach Blvd</h3>
                            <h3>West Palm Beach, FL 33412</h3>

                            <h1>Brevard, NC</h1>
                            <h2><a class="locationLinks" href="http://www.squatchbikes.com/">SQUATCH Bikes & Brews</a></h2>
                            <h3>170 King St.</h3>
                            <h3>Brevard, NC  28712</h3>

                            <div class="sidebar col-md-3">
                                <div class="panel panel-success">
                                    {% if cart.getProducts is not empty %}
                                        <div class="panel-heading">
                                            <h1>Your Cart</h1>
                                            <h3>Order Number: {{ cart.getID }}</h3>
                                        </div>
                                        <div class="panel-body">
                                            {% for product in cart_products %}
                                                <h4><span class="product-name">{{ product.getName }}</span><span class="product-price">{{ product.getPrice }}</span></h4>
                                            {% endfor %}
                                        </div>
                                        <div class="panel-footer">
                                            <h2>Your Total: ${{ cart.getOrderCost }}</h2>
                                            <h3>
                                                <form class="checkout" action="/review_order/{{ cart.getID }}" method="post">
                                                    <button class="checkout" type="submit">Checkout</button>
                                                </form>
                                            </h3>
                                        </div>
                                    {% else %}
                                        <h2 class="sidebar">No products in cart. </br>Start Shopping!</h2>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <footer>
                    <div class="row">
                        <div class="footer-container">
                            <div class="col-md-3">
                            <h4>This is an H4</h4>
                            <p>Duis Max irure dolor in reprehenderit in voluptate velit esse cillum Max eu fugiat nulla pariatur. Excepteur Max occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            </div>
                            <div class="col-md-3">
                                <h4>This is an H4</h4>
                                <p>Duis Max irure dolor in reprehenderit in voluptate velit esse cillum Max eu fugiat nulla pariatur. Excepteur Max occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id Max laborum.</p>
                            </div>
                            <div class="col-md-3">
                                <h4>This is an H4</h4>
                                <p>Duis Max irure dolor in reprehenderit in voluptate velit esse cillum Max eu fugiat nulla pariatur. Excepteur Max occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id Max laborum.</p>
                            </div>
                            <div class="col-md-3">
                                <h4>This is an H4</h4>
                                <p>Duis Max irure dolor in reprehenderit in voluptate velit esse cillum Max eu fugiat nulla pariatur. Excepteur Max occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id Max laborum.</p>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </body>
</html>
