<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Bubbler+One|Crushed|Nixie+One|Open+Sans+Condensed:300,300i,700|PT+Sans+Narrow:400,700|Raleway:300,400,700|Syncopate:400,700" rel="stylesheet">
        <link rel="stylesheet" href="/css/styles.css">
        <title>Moe's Kombucha</title>
    </head>
    <body>
        <div class="container-fluid">
            <header>
                <img src="/img/banner_large.jpg" class="img-responsive" alt="Moe's Kombucha Logo">
                <!-- banner & logo -->
                <nav class="nav container-fluid">
                    <ul class="list-inline navbar">
                        <li class="nav-item"><a href="/">Store</a></li>
                        <li class="nav-item"><a href="/about">About</a></li>
                        <li class="nav-item"><a href="/locations">Locations</a></li>
                        <li class="nav-item"><a href="/contact">Contact</a></li>
                        <li class="nav-item"><a href="/login">Customers</a></li>
                    </ul>
                </nav>
            </header>

            <div class="outside-container">
                <div class="row">
                    <div class="container-main">
                        <div class="main col-md-9">

                            <h2>boca raton, fl</h2>
                            <div class="row">
                                <div class="col-md-6">
                                    <h3><a class="locationLinks" href="http://www.apurajuicery.com/" class="locationLinks">apura juicery</a></h3>
                                    <h4>22191 s. powerline rd, #20B</h4>
                                    <h4>boca raton, fl 33433</h4>
                                </div>
                                <div class="col-md-6">
                                    <h3><a class="locationLinks" href="https://www.facebook.com/BocaFarmersMarketGrill">Boca Farmers' Market</a></h3>
                                    <h4>1949 NW 2nd Ave.</h4>
                                    <h4>Boca Raton, FL 33432</h4>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <h3><a class="locationLinks" href="https://www.barkanmethod.com/">Barkan Yoga</a></h3>
                                    <h4>2240 N.W. 19th St. #604</h4>
                                    <h4>Boca Raton, FL  33431</h4>
                                </div>
                                <div class="col-md-4">
                                    <h3><a class="locationLinks" href="http://www.plntjuice.com/">Planet Juice</a></h3>
                                    <h4>1951 N Federal Hwy</h4>
                                    <h4>Boca Raton, FL 33432</h4>
                                </div>
                                <div class="col-md-4">
                                    <h3><a class="locationLinks" href="http://www.pronutritionboca.com/">Pro nutrition</a></h3>
                                    <h4>7491 N. federal hwy, c4</h4>
                                    <h4>boca raton, fl  33487</h4>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <h3><a class="locationLinks" href="https://www.r1coffee.com/">R1 Coffee</a></h3>
                                    <h4>200 N. Federal HWY, Ste. 106</h4>
                                    <h4>Boca Raton, FL  33431</h4>
                                </div>
                                <div class="col-md-6">
                                    <h3><a class="locationLinks" href="http://www.thesaladspotboca.com/">Salad Spot</a></h3>
                                    <h4>690 Yamato RD., #6</h4>
                                    <h4>Boca Raton, FL  33431</h4>
                                </div>
                            </div>


                            <h2>Boynton Beach, FL 33426</h2>
                            <div class="row">
                                <div class="col-md-4">
                                    <h3><a class="locationLinks" href="http://www.joeyshomebakeryglutenfree.com/">Boynton Beach, FL</a></h3>
                                    <h4>1532 SW 8th St</h4>
                                    <h4>Boynton Beach, FL 33426</h4>
                                </div>
                                <div class="col-md-4">
                                    <h3><a class="locationLinks" href="http://juiceberryfan.com/">JuiceBerry</a></h3>
                                    <h4>1899 Congress Ave #3</h4>
                                    <h4>Boynton Beach, FL 33426</h4>
                                </div>
                                <div class="col-md-4">
                                    <h3><a class="locationLinks" href="https://www.facebook.com/bosstacosboyntonbeach/">Boss Tacos</a></h3>
                                    <h4>206 S. Federal Hwy</h4>
                                    <h4>Boynton Beach, FL 33435</h4>
                                </div>
                            </div>


                            <h2>Coral Springs, FL</h2>
                            <div class="row">
                                <div class="col-md-12">
                                    <h3><a class="locationLinks" href="http://tunies.com/">Tunies</a></h3>
                                    <h4>5651 Coral Ridge Dr.</h4>
                                    <h4>Coral Springs, FL  33076</h4>
                                </div>
                            </div>


                            <h2>Deerfield Beach, FL</h2>
                            <div class="row">
                                <div class="col-md-12">
                                    <h3><a class="locationLinks" href="http://juiceberryfan.com/">JuiceBerry</a></h3>
                                    <h4>61 S Federal Hwy</h4>
                                    <h4>Deerfield Beach, FL 33441</h4>
                                </div>
                            </div>


                            <h2>delray beach, FL</h2>
                            <div class="row">
                                <div class="col-md-6">
                                    <h3><a class="locationLinks" href="http://www.bikramyogadelraybeach.com/">Bikram Yoga</a></h3>
                                    <h4>055 S. Federal Hwy</h4>
                                    <h4>Delray Beach, FL 33483</h4>
                                </div>
                                <div class="col-md-6">
                                    <h3><a class="locationLinks" href="http://www.buddhaloungeyoga.com/">Buddha Yoga Lounge​</a></h3>
                                    <h4>1405 N. Federal HWY</h4>
                                    <h4>Delray Beach, FL 33483</h4>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-3">
                                    <h3><a class="locationLinks" href="http://www.kavasutra.com/">kavasutra*</a></h3>
                                    <h4>2186 W. atlantic ave.</h4>
                                    <h4>delray beach, fl 33445</h4>
                                </div>
                                <div class="col-md-3">
                                    <h3><a class="locationLinks" href="http://www.thenewvegan.com/">The New Vegan</a></h3>
                                    <h4>528 N.E. 2nd St.</h4>
                                    <h4>Delray Beach, FL  33483</h4>
                                </div>
                                <div class="col-md-3">
                                    <h3><a class="locationLinks" href="http://www.plntjuice.com/">Planet Juice</a></h3>
                                    <h4>1724 S Federal Hwy</h4>
                                    <h4>Delray Beach, FL 33483</h4>
                                </div>
                            </div>


                            <h2>ft. lauderdale, FL</h2>

                            <div class="row">
                                <div class="col-md-3">
                                    <h3><a class="locationLinks" href="https://www.barkanmethod.com/">The Barkan Method of Yoga</a></h3>
                                    <h4></h4>
                                    <h4>Kula Yoga Studio</h4>
                                    <h4>2370 N. Federal Hwy</h4>
                                    <h4>Ft. Lauderdale, FL  33305</h4>
                                </div>
                                <div class="col-md-3">
                                    <h3><a class="locationLinks" href="http://www.kavasutra.com/">kavasutra*</a></h3>
                                    <h4>1318 E. las olas blvd</h4>
                                    <h4>ft. lauderdale, fl 33301</h4>
                                </div>
                                <div class="col-md-3">
                                    <h3><a class="locationLinks" href="http://tunies.com/">Tunies</a></h3>
                                    <h4>900 N. Federal Hwy</h4>
                                    <h4>Ft. Lauderdale, FL  33304</h4>
                                </div>
                            </div>

                            <h2>Greenacres, FL</h2>
                            <div class="row">
                                <div class="col-md-12">
                                    <h3><a class="locationLinks" href="http://naturalblendssmoothies.com/">Natural Blends</a></h3>
                                    <h4>919 Jog Rd.</h4>
                                    <h4>Greenacres, FL  33476</h4>
                                </div>
                            </div>


                            <h2>jensen beach, FL</h2>
                            <div class="row">
                                <div class="col-md-12">
                                    <h3><a class="locationLinks" href="https://www.facebook.com/Jaimes-Smoothie-Juice-bar-258417360893969/">jaime's juice bar</a></h3>
                                    <h4>1864 n.e. jensen beach blvd</h4>
                                    <h4>jensen beach, fl 34957</h4>
                                </div>
                            </div>


                            <h2>Jupiter, FL</h2>
                            <div class="row">
                                <div class="col-md-6">
                                    <h3><a class="locationLinks" href="http://berryfresh.cafe/menu/">Berry Fresh</a></h3>
                                    <h4>755 Military Trail</h4>
                                    <h4>Jupiter, FL  33458</h4>
                                </div>
                                <div class="col-md-6">
                                    <h3><a class="locationLinks" href="http://jupiterfitness.com/">Jupiter Fitness</a></h3>
                                    <h4>1200 W. IndianTown Rd.</h4>
                                    <h4>Jupiter, FL  33458</h4>
                                </div>
                            </div>


                            <h2>lake park, fl</h2>

                            <div class="row">
                                <div class="col-md-6">
                                    <h3><a class="locationLinks" href="http://www.mylillystable.com/">lilly's table</a></h3>
                                    <h4>748-a park ave</h4>
                                    <h4>lake park, fl 33403</h4>
                                </div>
                                <div class="col-md-6">
                                    <h3><a class="locationLinks" href="http://natureswaycafe.com/">nature's way café</a></h3>
                                    <h4>804 us hwy one, #10</h4>
                                    <h4>lake park, fl 33404</h4>
                                </div>
                            </div>


                            <h2>lake worth, fl</h2>
                            <div class="row">
                                <div class="col-md-4">
                                    <h3><a class="locationLinks" href="http://natureswaycafe.com/">nature's way café</a></h3>
                                    <h4>517 lake ave</h4>
                                    <h4>lake worth, fl 33460</h4>
                                </div>
                                <div class="col-md-4">
                                    <h3><a class="locationLinks" href="http://www.kavasutra.com/">kavasutra*</a></h3>
                                    <h4>508 lake ave</h4>
                                    <h4>lake worth, fl 33460</h4>
                                </div>
                                <div class="col-md-4">
                                    <h3><a class="locationLinks" href="http://commongroundscoffeebar.com/">common grounds coffee bar</a></h3>
                                    <h4>12 S. J St.</h4>
                                    <h4>lake worth, fl 33460</h4>
                                </div>
                            </div>


                            <h2>Lantana, FL</h2>
                            <div class="row">
                                <div class="col-md-12">
                                    <h3><a class="locationLinks" href="https://www.facebook.com/goodvibeslantana/">Good Vibes Lantana</a></h3>
                                    <h4>219 E. Ocean Ave.</h4>
                                    <h4>Lantana, FL  33462</h4>
                                </div>
                            </div>


                            <h2>melbourne, fl</h2>
                            <div class="row">
                                <div class="col-md-3">
                                    <h3><a class="locationLinks" href="https://www.facebook.com/DripperzAve/">dripperz</a></h3>
                                    <h4>002 w. new haven ave.</h4>
                                    <h4>west melbourne, fl  32904</h4>
                                </div>
                                <div class="col-md-3">
                                    <h3><a class="locationLinks" href="http://www.island-root.com/">island root kava bar</a></h3>
                                    <h4>1900 municipal ln.</h4>
                                    <h4>melbourne, fl 32951</h4>
                                </div>
                                <div class="col-md-3">
                                    <h3><a class="locationLinks" href="http://ocean302.com/">ocean 302 bar & grille</a></h3>
                                    <h4>02 ocean ave.</h4>
                                    <h4>melbourne beach, fl 32951</h4>
                                </div>
                            </div>


                            <h2>n. palm beach & palm beach garden</h2>
                            <div class="row">
                                <div class="col-md-3">
                                    <h3><a class="locationLinks" href="https://blendbistro.com/">the blend bistro</a></h3>
                                    <h4>11701 lake victoria gardens ave, #3103</h4>
                                    <h4>palm beach gardens, FL 33410</h4>
                                </div>
                                <div class="col-md-3">
                                    <h3><a class="locationLinks" href="https://nutritionsmart.com/">NutritionSmart</a></h3>
                                    <h4>4155 Northlake Blvd.</h4>
                                    <h4>Palm Beach Gardens, FL  33410</h4>
                                </div>
                                <div class="col-md-3">
                                    <h3><a class="locationLinks" href="https://www.fitbodybootcamp.com/northpalmbeachfitnessbootcamp/">Fit Body Bootcamp</a></h3>
                                    <h4>420 US-1 #24</h4>
                                    <h4>N. Palm Beach, FL  33408</h4>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-3">
                                    <h3><a class="locationLinks" href="https://www.rocksteadyjuicejoint.com/">rock steady juice joint & acai bar</a></h3>
                                    <h4>420 US-1, #2</h4>
                                    <h4>n. palm beach, FL 33410</h4>
                                </div>
                                <div class="col-md-3">
                                    <h3><a class="locationLinks" href="http://www.kavasutra.com/">kavasutra*</a></h3>
                                    <h4>450 northlake blvd. #5</h4>
                                    <h4>n. palm beach, fl 33408</h4>
                                </div>
                                <div class="col-md-3">
                                    <h3><a class="locationLinks" href="http://tunies.com/">Tunies</a></h3>
                                    <h4>7170 Fairway Dr.</h4>
                                    <h4>Palm Beach Gardens, FL 33418</h4>
                                </div>
                            </div>


                            <h2>singer island, fl</h2>
                            <div class="row">
                                <div class="col-md-12">
                                    <h3><a class="locationLinks" href="http://www.paradisechicboutique.com/">paradise chic boutique & coffee bar</a></h3>
                                    <h4>1281 plaza cir. b</h4>
                                    <h4>singer island, fl 33404</h4>
                                </div>
                            </div>


                            <h2>stuart, fl</h2>
                            <div class="row">
                                <div class="col-md-6">
                                    <h3><a class="locationLinks" href="http://berryfresh.cafe/">berry fresh</a></h3>
                                    <h4>1429 s.e. federal hwy</h4>
                                    <h4>stuart, fl 34994</h4>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <h3><a class="locationLinks" href="http://osceolastreet.com/">osceola cafe</a></h3>
                                        <h4>26 osceola street</h4>
                                        <h4>stuart, fl 34994</h4>
                                    </div>
                                </div>
                            </div>



                            <h2>tequesta, fl</h2>
                            <div class="row">
                                <div class="col-md-12">
                                    <h3><a class="locationLinks" href="http://www.perkcoffeetequesta.com/">perk coffee house</a></h3>
                                    <h4>84 tequesta dr.</h4>
                                    <h4>tequesta, fl 33469</h4>
                                </div>
                            </div>

                            <h2>wellington, fl</h2>
                            <div class="row">
                                <div class="col-md-4">
                                    <h3><a class="locationLinks" href="http://www.freedeliverypharmacy.com/">My Community Pharmacy</a></h3>
                                    <h4>2615 N. State RD. 7, Ste. B530</h4>
                                    <h4>Wellington, FL  33414</h4>
                                </div>
                                <div class="col-md-4">
                                    <h3><a class="locationLinks" href="http://www.taylormadecafe.com/">taylor made cafe</a></h3>
                                    <h4>12160 S. Shore blvd., #105</h4>
                                    <h4>wellington, fl 33414</h4>
                                </div>
                                <div class="col-md-4">
                                    <h3><a class="locationLinks" href="http://ultimafitness.com/">Ultima Fitness</a></h3>
                                    <h4>12799 W. Forest Hills Blvd.</h4>
                                    <h4>Wellington, FL  33414</h4>
                                </div>
                            </div>



                            <h2>w. palm beach, fl</h2>
                            <div class="row">
                                <div class="col-md-3">
                                    <h3><a class="locationLinks" href="https://www.fitbodybootcamp.com/palmbeachfitnessbootcamp/">fit body bootcamp</a></h3>
                                    <h4>6076 okeechobee blvd, #32</h4>
                                    <h4>w. palm beach, fl 33417</h4>
                                </div>
                                <div class="col-md-3">
                                    <h3><a class="locationLinks" href="http://www.gotsprouts.com/">got sprouts</a></h3>
                                    <h4>8420 resource rd</h4>
                                    <h4>w. palm beach, fl 33403</h4>
                                </div>
                                <div class="col-md-3">
                                    <h3><a class="locationLinks" href="http://www.omyogawellness.com/">Om Yoga Stuio</a></h3>
                                    <h4>410 Northwood Rd.</h4>
                                    <h4>W. Palm Beach, FL  33407</h4>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-3">
                                    <h3><a class="locationLinks" href="http://www.thesaladspotflorida.com/">Salad Spot</a></h3>
                                    <h4>777 S. Flagler DR., ste #108</h4>
                                    <h4>W. Palm Beach, FL 33401</h4>
                                </div>
                                <div class="col-md-3">
                                    <h3><a class="locationLinks" href="http://vsnut.tflmag.com/">South End</a></h3>
                                    <h4>Health Food Store</h4>
                                    <h4>5603 S. Dixie Hwy</h4>
                                    <h4>W. Palm Beach, FL 33405</h4>
                                </div>
                                <div class="col-md-3">
                                    <h3><a class="locationLinks" href="https://www.ulsprouts.com/">Universal Living Sprouts</a></h3>
                                    <h4>6238 Royal Palm Beach Blvd</h4>
                                    <h4>West Palm Beach, FL 33412</h4>
                                </div>
                            </div>


                            <h2>Brevard, NC</h2>
                            <div class="row">
                                <div class="col-md-12">
                                    <h3><a class="locationLinks" href="http://www.squatchbikes.com/">SQUATCH Bikes & Brews</a></h3>
                                    <h4>170 King St.</h4>
                                    <h4>Brevard, NC  28712</h4>
                                </div>
                            </div>
                        </div>

                        <div class="sidebar col-md-3">
                            <div class="panel panel-success">
                                {% if cart.getProducts is not empty %}
                                    <div class="panel-heading">
                                        <h1>Your Cart</h1>
                                        <h3>Order Number: {{ cart.getID }}</h3>
                                    </div>
                                    <div class="panel-body">
                                        {% for product in cart_products %}
                                            <h4><span class="product-name">{{ product.getName }}</span><span class="product-price">{{ product.getPrice }}</span></h4>
                                        {% endfor %}
                                    </div>
                                    <div class="panel-footer">
                                        <h2>Your Total: ${{ cart.getOrderCost }}</h2>
                                        <h3>
                                            <form class="checkout" action="/review_order/{{ cart.getID }}" method="post">
                                                <button class="checkout" type="submit">Checkout</button>
                                            </form>
                                        </h3>
                                    </div>
                                {% else %}
                                    <h2 class="sidebar">No products in cart. </br>Start Shopping!</h2>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <footer>
                <div class="row">
                    <div class="footer-container">
                        <div class="col-md-3">
                            <p>Riviera Beach, FL</p>
                        </div>
                        <div class="col-md-3">
                            <p>(855) 663-7832</p>
                        </div>
                        <div class="col-md-3">
                            <p><a href="mailto:info@moeskombucha.com">info@moeskombucha.com</a></p>
                        </div>
                        <div class="col-md-3">
                            <p>© 2017 Moe's Kombucha</p>
                        </div>
                    </div>
                </div>
            </footer>

        </div>
    </body>
</html>
